
<h1>Página de cadastro de pacientes</h1>

<form method="post">
    Nome <input name="nome" type="text" /><br />
    CPF <input name="cpf" type="text" /><br />
    E-mail <input name="email" type="email" /><br />
    <input type="submit" value="Enviar" />
</form>

<a href="/pacientes">Voltar</a>