
<h1>Página de cadastro de pacientes</h1>

<form method="get">
    Nome <input name="nome" type="text" /><br />
    CPF <input name="cpf" type="text" /><br />
    Data de nascimento: <input name="data_nascimento" type="date" /><br />
    E-mail <input name="email" type="email" /><br />
    Pesquisar <input name="q" type="text" /><br />
    <input type="submit" value="Enviar" />
</form>
<a href="/pacientes">Voltar</a>